---
import SearchPanel from '../components/SearchPanel.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="搜索" description="使用 Pagefind 进行本地静态搜索。">
	<section class="page-shell pt-12">
		<SearchPanel />
	</section>
</BaseLayout>
